p
{
    color: blue;
    font-size: 14px;
}
ul 
{
    color:blue;
}

h1
 {font-size: 30px;
    
    color:maroon;
}
.experiences 
{
color:blue;
}
.Développeur 
{
color: blue;
}
p 
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
}
h2
{
    font-weight:bold 
    
    }
h2
{
    font-style: italic;
    color: black;
}

h2

{

color: black;

}

h1
 
a:hover
{
    text-decoration:underline;
    color:green;
     

